{% extends 'main.html'%}

<h1>Some of my Projects</h1>

{% block content %}

<p>Hello you are on the {{page}} page</p>

<h1>myprojects list</h1>

<table>
  <tr>
    <th>ID</th>
    <th>MyProject</th>
    <th>Positive Votes</th>
    <th>Votes</th>
    <th></th>
  </tr>
  {% for myproject in myprojects %}
  <tr>
    <td>{{myproject.id}}</td>
    <td>{{myproject.title}}</td>
    <td>{{myproject.vote_ratio}}</td>
    <td>{{myproject.vote_total}}</td>
    <td>{{myproject.created_value}}</td>
    <td><a href="{% url 'master_link_project' myproject.id %}">View</a></td>
  </tr>

  {% endfor %}
</table>

{% endblock content %}
